@font-face {
  font-family: norseBold;
  src: url(media/Norse-Bold.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(136, 136, 136);
  width: 100vw;
  height: 100vh;
}

.img-container {
  background-image: url(./media/halie-west-25xggax4bSA-unsplash.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 40vw;
}

.logo-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.opacity {
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 20vh;
  gap: 1vw;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 5vw;
}

h1 {
  font-size: 100px;
  font-family: norseBold;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form-container {
  width: 60vw;
  display: flex;
  background-color: rgb(226, 226, 226);
  flex-flow: column nowrap;
  justify-content: center;
}

.hero-text {
  padding-bottom: 5%;
  font-size: 28px;
  font-weight: bolder;
  align-content: center;
  text-align: left;
  width: 90%;
  text-shadow: 2px 2px rgba(185, 185, 185, 0.2);
}

.form {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px -2px rgb(54, 54, 54);
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input {
  display: flex;
  flex-flow: column wrap;
  width: 40%;
  font-size: 0.7rem;
  text-transform: uppercase;
  opacity: 60%;
}

input {
  background-color: rgb(216, 216, 216);
  border: 2px solid rgb(77, 77, 77);
  border-radius: 3px;
}

input:focus {
  outline: none;
  border: 2px solid rgb(0, 255, 85);
}

.error {
  outline: none;
  border: 2px solid rgb(255, 0, 0);
}

.left {
  padding-left: 3vw;
}

.login {
  font-weight: bold;
}

a {
  color: #596d48;
}

button {
  background-color: #596d48;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 40px;
  box-shadow: 2px 2px 5px 5px black;
  margin: 40px 0;
}
